<form class="search" action="/search" method="post">
    <input type="search" name="search" value="" placeholder="Search...">
    <button type="submit" class="btn-search">
        <img src="/static/img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>