<form class="search" action="/search" method="post">
    <input type="search" name="search" value="" placeholder="Search...">
    <button type="submit" class="btn-search">
        <img src="/static/img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

<section id="search-page">

    <h2>Search result:</h2>
    {{#if ads}}
    {{#each ads}}
    {{> searchView}}
    {{/each}}
    {{else}}
    <article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
    </article>
    {{/if}}
</section>